/* Styling for home owner profile page */
div .profile-photo {
  height: 185px;
  padding: 30px 0 0 0;
}

div .name h3 {
  margin: 10px 0;
  background: black;
}

div .ratingstars {
  background-color: red;
  margin: 0 0 75px 0;
}

div .dc-icons-large {
  display: flex;
  flex-direction: row;
  text-align: center;
}

div .dc-icons-large img {
  display: block;
}

div .dc-icons-large .icon-favorite {
  background-color: pink;
}

div .dc-icons-large .icon-favorite,
div .dc-icons-large .icon-my-appt {
  flex: 1 1 130px;
}
