@import url('https://fonts.googleapis.com/css?family=Lato');


.App {
  text-align: center;
 
}
body{
  background-color: #FC8767;

  
}
.body {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #F1BE3E;
  z-index: 1;
  

}



.logo{
  width: 200px;
  float: left;
  margin-bottom: 20px;
  margin-top: 0px;
}




.button {
  font-family: 'Lato', sans-serif;

  color: #ffffff;
  font-size: 22px;
  display: inline-block;
  border-radius: 160px;
  height: 39px;
  width: 160px;
  left: 29%;
  margin-right: 20px;
  margin-left: 70px;
  margin-top: 60px;
  position: relative;
  background-color: rgba(211, 211, 211, 0)}

h2 {
  margin-right: 650px;
  margin-left: 650px;
  margin-top: 100px;
  margin-bottom: 10px

}
.text1 {
  font-family: 'Lato', sans-serif;
  position: relative;
  left: -9%;
  right: 90%;
  top:0%;
  font-size: 23px;
  color: #FC8767;
}

.text2 {
  font-family: 'Lato', sans-serif;

  position: relative;
  left: 10%;
  right: 90%;
  top: 10%;
  font-size: 23px;
  color: #F1BE3E

}

.select-style {
  position: relative;
  width: 20px;
  height: 20px;
  left: 10%;
  right: 90%;
  top: 10%;
  font-size: 23px;
}

.dropdown {
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: #FC8767;
  font-family: 'Lato', sans-serif;
  position: relative;
  left: 2500%;
  right: 120%;
  top: 100%;
}

.filtertitle{
  position: relative;
  color: white;
  margin-right: -43px;
  margin-top: 110px;
}

 li.rooms {
  border-style: solid;
  border-width: 2px;
border-color: #F1BE3E}

.button2 {
  font-family: 'Lato', sans-serif;

  color: #ffffff;
  font-size: 22px;
  display: inline-block;
  border-radius: 160px;
  height: 39px;
  width: 160px;
  left: 0%;
  margin-right: 20px;
  margin-left: 70px;
  margin-top: 100px;
  position: relative;
  background-color: rgba(211, 211, 211, 0)}

  .picture {
    height:500px;
     width:700;
     margin-left: -150px;
  }
