@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
}

.App {
  text-align: center;
}

li {
  list-style: none;
}

button {
  border-radius: 10px
  width
}
